PORT=8000
MONGO_URI=mongodb://localhost:27017/miniDB

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
BCRYPT_SALT_ROUNDS=10

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email_here
SMTP_PASS=your_email_app_password_here
SMTP_FROM="Your App Name <your_email_here>"

CLIENT_URL=http://localhost:5173
RESET_TOKEN_TTL_MINUTES=15